:root {
  --buttons-color: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
  --sound-color: #ec1119;
  --white-color: #ffffff;
  --main-text: linear-gradient(130.09deg, #eb5d38 31.89%, #ffd600 92.03%);
}
